@import "/student3/common/common.css";

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
}

h1{
    padding: 1.5rem 0;
    margin: 0;
}

h2{
    padding: 1rem 0;
    margin: 0;
}

body{
    background-color: var(--color-secondary);
    display: block;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#body-container{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height:87%;
    display: flex;
    flex-direction: column;
}

#student-pics{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.pics{
    padding:0.5rem;
}

.picture{
    width: 90%;
    height: auto;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 3px solid black;
}

@media screen and (max-width: 900px) {
    #body-container{
        height: auto;
    }
    #student-pics {
        grid-template-columns: repeat(2, 50%);
    }
    span{
        font-size: small;
    }
    section{
        line-height: 1;
    }
}

.section{
    text-align: center;
    margin:0;
    padding:0;
    width: 90%;
    height: 48%;
    position: relative;
    top:-50%;
    right: -5%;
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    display: none;
    opacity: 0.7;
    animation-name: slide;
    animation-duration: 0.5s;
}

span{
    position: relative;
    top: 25%;
}

#student-pic-1:hover #sec1{
    display: block;
}
#student-pic-2:hover #sec2{
    display: block;
}
#student-pic-3:hover #sec3{
    display: block;
}
#student-pic-4:hover #sec4{
    display: block;
}

@keyframes slide{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.7;
    }
}

#menuBtn{
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}